.button-width {
  width: 80px;
  margin: 5px;
}

.question-size {
  font-size: 30px;
  font-family: 30px;
}

html {
  /*height: 100vh;*/
  background-image: url("../images/got-background.jpg");
/*  background-repeat: no-repeat;
  background-size: cover;*/
}

.well {
  background-color: rgba(245, 245, 245, 0.75);
  /*height: 550px*/
  width: 600px;
}

#questions-full {
  font-size: 190%;
  height: 80px;
  font-weight: bold;
}

.well {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  padding: 10px 15px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
}

#very-true {
  text-transform: uppercase;
}

#very-false {
  text-transform: uppercase;
}

#neutral {
  text-transform: lowercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

.btn-primary:active,
.btn-primary.active {
  background: #007299;
  box-shadow: none;
}

.btn-lg.round {
  border-radius: 24px;
}

.btn-quiz {
  width: 200px;
}

#result-string {
  font-size: 250%;
  font-weight: bold;
}

.nope {
  position: absolute;
  top: 50%;
  left: 50%;
  /*height: 95%*/;
  /*width: 80%;*/
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
}

.char-desc {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
  font-size: 40px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 36px;
  color: #1212C7;
  height: 43px;
}

.char-img {
  height: 400px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.text-desc {
  font-weight: bold;
  color: black;
}

.text-center {
  margin: 10px;
}